
a{
    	color:#000;
    	font-size: 18px;
    }
.container{
    	width: 100%;
    }

.navbar-right{
	margin-right: 20px;
}

.item img{
	height: 480px;
	width: 100%;
	
	
}

#search{
	float: right;
}

.carousel-control{
	font-size: 100px;

}
.thumbnail{
	width: 350px;
	height: 360px;
	border: 1px solid #eee;
}

.col-lg-3{
	margin:10px 50px;
}

p,h3{
	text-align: center;
}


.form-group{
	margin-top: 10px;
	height: 20px;
}


#footer{
	padding: 20px;
	text-align: center;
	background-color: #eee;
}