body{
   
    width: 100%;
}
#goodsTable {
    margin-left: 1%;
	width: 98%;
}
.row{
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-left: 0px;
}

.storeGoods {
    width: 100%;
    border: 1px solid #E3EDEC;
}
.col-1{
	width: 25%;
	text-align:left;
	padding-left: 5px;
}
.col-2 ,.col-4{
	width: 10%;
	padding-left: 5px;
	padding-right: 5px;
}
.col-7{
	width: 10%;
	padding-left: 5px;
	padding-right: 5px;
}
.col-3,.col-5{
	width: 12%;
	padding-left: 5px;
	padding-right: 5px;
}
.col-6{
	
	width: 15%;
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
}
#result {
	 margin-left: 900px;
	margin-top: 50px; 
}

.head{
	
	text-align:center;
}
.data span{
	 line-height: 120px; 
	
}

.store{
	
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}



.data{
	height:120px;
}

.form-horizontal{
	width: 50%;
	margin-left: 100px;
	float:left;
}
#headPotrait{
	margin-left: 140px;
	width: 20%;
	float: left;
}


.form-horizontal .control-label{
	width: 18%;
	text-align: left;
}
.payIn{
	width: 400px;
	margin-top: 30px;
	margin-bottom: 60px
}
#payDiv{
	background-color:#eee;
	width: 400px;
	height: 300px;
	border: 1px solid #fcfcfc;
	margin-top: 10%;
	margin-left: 40%;
	margin-bottom:13%;
	text-align: center;
}
.centra{
	margin-top: 50px;
}
#errText{
	margin-top: 10px;
	height: 20px;
	padding-left: 60px;
	font-size: 10px;
	color: red;
}
#buyBtn{
	width:400px;
	padding:50px;
}
#buyBtn .btn{
	
	margin-right: 30px
}
