#container{
	margin: 0 auto;
	height: auto;
	width: 900px;
	border: 5px solid black;
	border-radius: 5px;
	position: absolute;
	top: 10%;
	left: 50%;
	/*margin-top: -225px;*/
	/*margin-top: 50%;*/
	margin-left: -500px;
	background-color: rgba(218,218,218,0.2);
}

/*表单begin*/
.navbar-form{
	width: 100%;
	margin: 10px 0;
}

.navbar-form input[type="file"]{
	width: 200px;
	display: inline-block;
}

.navbar-form .form-group{
	margin: 8px 0;
	display: inline-block;
	margin-left: 20px;
	height: 40px;
}

.navbar-form .form-group:nth-child(1){
	width: 220px;
}
.navbar-form .form-group:nth-child(2){
	width: 220px;
}
.navbar-form .form-group:nth-child(3){
	margin-right: 20px;
	width: 280px;
}

.navbar-form .form-group:nth-child(4){
	width: 700px;
}

.form-group label.errorClass{
	display: block;
	margin-bottom: 0;
	text-align: center;
}



.navbar-form .form-group:nth-child(1) .form-control,
.navbar-form .form-group:nth-child(2) .form-control{
		width: 120px;
	margin-right: 15px;
}
.navbar-form .form-group:nth-child(4) .form-control{
	width: 500px;
	margin-right: 15px;
}

/*表格begin*/
.table{
	margin-top: 5px;
}

.table tbody td input[type="text"]{
	width: 80px;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
	border: 1px solid rgb(221,221,221);
}



/*表格end*/

/*按钮begin*/
.navbar-form .btnDiv{
	margin: 15px auto 10px;
	width: 300px;
}

.navbar-form .btnDiv input,
.navbar-form .btnDiv button{
	width: 100px;
	margin: 0 15px;
	background-color: black;
	color: white;
}

.navbar-form .btnDiv input:hover,
.navbar-form .btnDiv button:hover{
	background-color: darkgrey;
	color: black;
}
/*按钮end*/

/*表单end*/
